.app-container {
  display: flex;
  height: 100vh; /* Set the height of the container to fill the entire viewport */
}

.left-column,
.right-column {
  flex: 1; /* Each column will take 50% of the available space */
  padding: 20px;
}

.left-column {
  background-color: #f7f6f6; /* Add a background color to the left column (Form) */
}

/* Add any additional styles to the left and right columns here */
/* For example, you can add border or box-shadow to each column */

/* For responsiveness, you can use media queries to adjust the layout on smaller screens */
/* For
